<div id="header-sd">
  <div>
    <h1>{{ section.settings.text-box }}</h1>
    <h3>{{ section.settings.text }}</h3>
  </div>
</div>

{% schema %}
  {
    "name": "header-sd",
    "class": "header-sd",
    "enabled_on": {
      "templates": ["*"]
    },
    "settings": [
      {
        "id": "text-box",
        "type": "text",
        "label": "Titolo",
        "default": "Titolo"
      }, {
        "id": "text",
        "type": "richtext",
        "label": "Aggiungi testo",
        "default": "<p>Add your text here</p>"
      }
    ],
    "presets": [
      {
        "name": "Solodettagli Header"

      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}