{% stylesheet %}
  {{ 'section-header-sd.css' | asset_url | stylesheet_tag }}
{% endstylesheet %}


<div id="header-sd" class="header-sd">
  <div class="header-container-sd">
    <div class="flex-2-3">
      <span></span>
    </div>
    <div class="flex-1-3">
      <a href="https://solodettagli.it" style="display: inline;">
        <div class="row-full">
          <i class="fa-solid fa-arrow-trend-up" style="color: #ae0f0a;"></i>
          <h2>I Più richiesti</h2>
          <i class="fa-solid fa-angles-right" style="color: #ae0f0a;"></i>
        </div>
      </a>
      <a href="https://solodettagli.it" style="display: inline;">
        <div class="row-full">
          <i class="fa-solid fa-hand-sparkles" style="color: #ae0f0a;"></i>
          <h2>{{ section.settings.text-box }}</h2>
          <i class="fa-solid fa-angles-right" style="color: #ae0f0a;"></i>
        </div>
      </a>
      <a href="https://solodettagli.it" style="display: inline;">
        <div class="row-full">
          <i class="fa-solid fa-spray-can-sparkles" style="color: #ae0f0a;"></i>
          <h2>I nostri Kit</h2>
          <i class="fa-solid fa-angles-right" style="color: #ae0f0a;"></i>
        </div>
      </a>
      <a href="https://solodettagli.it" style="display: inline;">
        <div class="row-full">
          <i class="fa-brands fa-youtube" style="color: #ae0f0a;"></i>
          <h2>Il mio canale youtube</h2>
          <i class="fa-solid fa-angles-right" style="color: #ae0f0a;"></i>
        </div>
      </a>

    </div>
  </div>
</div>

{% schema %}
  {
    "name": "header-sd",
    "class": "header-sd",
    "enabled_on": {
      "templates": ["*"]
    },
    "settings": [
      {
        "id": "text-box",
        "type": "text",
        "label": "Titolo",
        "default": "Titolo"
      }, {
        "id": "text",
        "type": "richtext",
        "label": "Aggiungi testo",
        "default": "<p>Add your text here</p>"
      }
    ],
    "presets": [
      {
        "name": "Solodettagli Header"

      }
    ]
  }
{% endschema %}


{% javascript %}
{% endjavascript %}